<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" href="/styles/resets.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>

    <header>
        <div>
            Traveler
        </div>

    </header>

    <main>
        <section>Plan your next trip!</section>
        <section id="form_section">
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="long" type="text" name="long" value="" placeholder="24.774265">
                <input id="lat" type="text" name="lat" value="" placeholder="46.738586">
                <input id="country" type="country" name="country" value="" placeholder="france">
                <input id="city" type="city" name="city" value="" placeholder="paris">
                <input id="date" type="date" name="date" value=""
                    onfocus="this.min=new Date().toISOString().split('T')[0]">
                <input id="generate" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section id="result_section">
            <table>
                <tr>
                    <th>Destination</th>
                    <th>Date</th>
                    <th>Countdown</th>
                </tr>

                <tr>
                    <td><span id="text"></span></td>
                    <td> <span id="date_text"></span></td>
                    <td><span id="countdown"></span></td>
                </tr>
                <tr>
                    <th>Tempreture [Hight]</th>
                    <th>Tempreture [Low]</th>
                    <th>Weather Description</th>
                </tr>

                <tr>
                    <td ><span id="high"></span></td>
                    <td><span id="low"></span></td>
                    <td> <span id="weather"></span></td>
                </tr>
            </table>

            <div id="results">
                <img id="city_img" src="" alt="img">
            </div>

            <button id="back">back</button>
        </section>
    </main>

    <footer>
        <p>2023</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>